$color : #333;
$themecolor: #089D49;

@mixin gradient($color1,$color2) {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#089d49+0,d4ff00+100 */
background: $color1; /* Old browsers */
background: -moz-linear-gradient(left, $color1 0%, $color2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, $color1 0%,$color2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, $color1 0%,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); /* IE6-9 */
}

%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@mixin col($width){
    -webkit-box-flex: 0;
        -ms-flex: 0 0 $width;
        flex: 0 0 $width;
        max-width: $width;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: $color;
}
header{
    padding: 10px 0;
    .logo{
        @include col(20%);
        padding: 0 15px;
        a{
            display: block;
            text-decoration: none;
            font-size: 30px;
            font-weight: 900;
            color: $color;
        }
    }
    nav{
        @include col(80%);
        padding: 0 15px;

        ul{
            @extend %flex;
            justify-content: flex-end;
            li{
                list-style: none;
                a{
                    display: block;
                    font-size: 18px;
                    padding: 10px 20px;
                    text-transform: capitalize;
                    text-decoration: none;
                    color: $color;
                }
            }
        }
    }
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    @extend %flex;

    .col-6{
        @include col(50%);
        padding:0 15px;
    }
}
section{
    padding: 100px 0;
}
.about-me-section{
    background-image: url(../images/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .row{
        align-items: center;
        min-height: 70vh;
    }
}


h3{
    font-size: 30px;
}
h1{
    font-size: 80px;
    color: $themecolor;
    line-height: 1; 
}
h2{
    font-size: 50px;
}
p{
    color: $color;
    font-size: 16px;
    margin: 10px 0;
    opacity: 0.7;
}

.btn,.btn-reverse{
     
    display: inline-block;
    padding: 10px 40px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.3s;;
    
}
.btn{
    @include gradient(#089d49,#d4ff00);
    &:hover{
        @include gradient(#d4ff00,#089d49,);
    }
}
.btn-reverse{
    @include gradient(#d4ff00,#089d49,);
    &:hover{
        @include gradient(#089d49,#d4ff00);
    }
}

.biography-section{
    background-image: url(../images/biography-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .row{
        min-height:70vh;
        align-items: center;
    }
    img{
        text-align: left;
    }
}
.latest-work-section{
    background-image: url(../images/latest-work-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h2{
        text-align: center;
        margin-bottom: 40px;
    }
    .row{
         
        align-items: center;

        .col-4{
            @include col(33.33%);
            padding:0 15px;
            
        }
    }
    .work-img{
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    }
     
}

